.lightbox { 
    display: none;
    //display: flex;
    flex-direction: row;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    padding: 20px;
    padding-bottom: 370px;
    background-color: rgba(0, 0, 0, 0.9);

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid white;
        padding: 2px 14px 5px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.25);
    }

    .lb-image {
        max-width: 70%;
        width: 60%;
        
    }

    .lb-image1, .lb-image3 {
        margin-left: auto;
    }

    .lb-para {
        display: flex;
        flex-direction: column;
    }
}

.show-lb { display: flex !important; }

.u-social {
    li { 
        display: inline-block;
        padding: 10px;
    }
}