.lightbox { 
    display: none;
    flex-direction: row;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;

    .close {    
        right: 50px;
        top: 25px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: 1px solid red;
        color: red;
        padding: 4px 15px 10px 15px;
        font-family: $font-style;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.25);
    }

    .close:hover {
        background-color: red;
        color: white;
        border-color: white;
        transition: border-color, background-color, color 1s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    }

    .lb-content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 93%;
    }

    .lb-image {
        max-width: 750px;
        width: 100%;
        
    }

    .lb-para {
        display: flex;
        flex-direction: column;
        margin: 25px auto;
    }
}

.lb-text {
    max-width: 750px;
    line-height: 28px;
}

.show-lb { display: flex !important;
        animation: showPage 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes showPage {
    0% { display: none; position: fixed; top: -2500px; }
    100% { display:flex; position: absolute; top: 0; };
}

.animationRemove {
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
    0% { display:flex; position: absolute; top: 0; };
    100% { display: none; position: fixed; top: -2500px; }
}

@media screen and (min-width:1350px) {
    .lb-image1, .lb-image3 {
        margin-left: auto !important;
    }

    .lb-text {
        max-width: none !important;
        width: 380px;
        margin-top: -300px;
        margin-bottom: 200px;
        max-width: 900px;
        width: 40%;
    }
    .lb-para {
        width: 100%;
        max-width: 1900px;
    }

    .lb-text2 {
        margin-left: auto;
        margin-top: -350px;
    }
}

@media screen and (min-width: 1616px) {
    .lb-text {
        font-size: 22px;
        line-height: 32px;
    }

    .lb-text3 {
        margin-top: -380px;
    }
}